.content-main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content-titles, .content-options{
    display: flex;
    flex-direction: column;

    }
.content-header{
    display: flex;
    width: 62%;
    justify-content: space-between;
    margin-bottom: 2%;
    flex-wrap: wrap-reverse;
}
.button-add{
    width: 62%;
    border: none;
    height: 3em;
    background: darkgray;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0%;
    
}
.button-add:hover{
   
    background: greenyellow;
   
}