.content-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9%;
}

.content-titles, .content-options{
    display: flex;
    justify-content: space-evenly;
    width: 80%;

}